<!DOCTYPE html>
<html>
<head>
    <title>Rincian Belanja Modal</title>
    <style>
        @page { size: 330mm 215mm; margin: 1cm; }
        body { font-family: sans-serif; font-size: 9pt; }
        table { width: 100%; border-collapse: collapse; }
        th, td { border: 1px solid black; padding: 4px; vertical-align: top; }
        th { text-align: center; background-color: #f2f2f2; font-weight: bold; }
        .text-right { text-align: right; }
        .text-center { text-align: center; }
        h3, h4, p { text-align: center; margin: 0; padding: 0; }
    </style>
</head>
<body>
    <h3>RINCIAN BELANJA MODAL</h3>
    <h4>DINAS KOMUNIKASI DAN INFORMATIKA KABUPATEN TEBO</h4>
    <p>Posisi: {{ end_date }}</p>

    <table style="margin-top: 15px;">
        <thead>
            <tr>
                <th rowspan="2">No.</th>
                <th rowspan="2">Jenis Belanja Modal (Berdasarkan Anggaran dalam DPA/Perubahan)</th>
                <th rowspan="2">Pekerjaan</th>
                <th rowspan="2">Kegiatan</th>
                <th colspan="4">Rincian Belanja</th>
                <th rowspan="2">Jenis Belanja (GU/LS)</th>
                <th rowspan="2">Keterangan</th>
            </tr>
            <tr>
                <th>Merk/Type</th>
                <th>Jumlah</th>
                <th>harga/unit</th>
                <th>Nilai</th>
            </tr>
        </thead>
        <tbody>
            {% for aset in asets %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td>
                    {% ifchanged aset.klasifikasi.sub_rincian_objek.rincian_objek.objek.jenis.nama %}
                        {{ aset.klasifikasi.sub_rincian_objek.rincian_objek.objek.jenis.nama }}
                    {% endifchanged %}
                </td>
                <td>
                    {% ifchanged aset.sub_kegiatan.kegiatan.pekerjaan.nama_pekerjaan %}
                        {{ aset.sub_kegiatan.kegiatan.pekerjaan.nama_pekerjaan }}
                    {% endifchanged %}
                </td>
                <td>
                    {% ifchanged aset.sub_kegiatan.kegiatan.nama_kegiatan %}
                        {{ aset.sub_kegiatan.kegiatan.nama_kegiatan }}
                    {% endifchanged %}
                </td>
                <td>{{ aset.nama_barang }}</td>
                <td class="text-center">1 Unit</td>
                <td class="text-right">{{ aset.harga_pembelian|floatformat:"2,," }}</td>
                <td class="text-right">{{ aset.harga_pembelian|floatformat:"2,," }}</td>
                <td class="text-center">{{ aset.jenis_belanja }}</td>
                <td>{{ aset.keterangan|default_if_none:"" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10" class="text-center">Tidak ada data untuk periode ini.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>