:root {
  --primary-blue: #3E8BFF;
  --secondary-blue: #E9F2FF;
  --dark-text: #222831;
  --light-text: #6A7485;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #F9FBFF;
}